body {
  background-color: mistyrose;
}

.h1 {
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 50px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 10vw; 
  text-align: left;
}

.h2 {
  top: 200px;
  color: midnightblue;
}

.headshot {
  position: absolute;
  top: 150px;
  left: 700px;
  width: 256px;
  height: 320px;
}

.fun-text{
  position: absolute;
  top: 350px;
  left: 150px;
  width: 500px;
  color: slategray;
  font-family: ""Times New Roman", Times, serif";
  font-size: 16px;
  text-align : left;
  
}

/* Add a black background color to the top navigation */
.nav-bar {
  list-style-type: none;
  width: 100%;
  height: 100px;
  margin: 0;
  background: black;
  position: sticky;
  top: 0; 
}

.nav-bar > .element {
  width: 19.5%;
  line-height: 50px;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 100;
  font-family: Arial;
  text-decoration: none; 
}

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

/* code taken from https://codetheweb.blog/2017/12/12/style-a-navigation-bar-css/ */
header {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: slategray;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
}

header li a:hover {
  width: 150%;
  transition: width 2s ease 1s;
  color: midnightblue;
  font-style: underline;

}