#code taken from class notes

body {
  background-color: lightblue;
}

.h1 {
width: 50%
height: 300px;
color: black;
text-align: left;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* Add a black background color to the top navigation */
.nav-bar {
  width: 100%;
  height: 100px;
  margin: 0;
  background: black;
  position: sticky;
  top: 0; }

.nav-bar > .element {
  width: 19.5%;
  line-height: 50px;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 100;
  font-family: Arial;
  text-decoration: none; }

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}