body {
  background-color: #95221F;
}

.h1 {
  position: relative;
  top: 60px;
  left: 100px;
  margin: 50px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 10vw; 
  text-align: left;
}

.h2 {
  top: 0px;
  color: midnightblue;
}

.headshot {
  position: relative;
  top: -275px;
  left: 675px;
  width: 350px;
  height: 458px;
}

.fun-text{
  position: relative;
  top: -500px;
  left: 125px;
  width: 500px;
  color: whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
  
}

.funner-text{
  position: relative;
  top: -500px;
  left: 150px;
  width: 500px;
  color:whitesmoke;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  text-align : left;
}

/* code taken from https://codetheweb.blog/2017/12/12/style-a-navigation-bar-css/ */
header {
  background-color: whitesmoke;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: slategray;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
}

header li a:hover {
  width: 150%;
  transition: width 2s ease 1s;
  color: midnightblue;
  font-style: underline;

}

footer {
  background-color: whitesmoke;
  position: absolute;
  top: 650px;
  left: 0px;
  right: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

footer * {
  display: inline;
}

footer li {
  margin: 20px;
}

footer li a {
  color: slategray;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
}
